body{
  margin:0;
  text-align: center;
  font-family: 'Sriracha', cursive;
  background-color: #C0D3DC;
}
h1{
  font-family: 'Squada One', cursive;
  font-size: 500%;
  margin: 50px auto 0 auto;
  color: #7398AA;
}
h2{
  font-size: 2.5rem;
  color: #7398AA;
  font-weight: normal;
  padding-bottom: 10px;
}

.profile-pic{
  border-radius: 50%;

}
.profile{
  
  margin: 100px auto 100px auto;
  max-width:100%;
  max-height:100%;
}

.top{

  position: relative;
  padding-top: 50px;
}

.middle{
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
}


.bottom{
  background-color: #7398AA;
  padding-top: 30px;
}
.contact-me{
  padding: 30px;
}


.btn {
	background-color:#07398a;
	border-radius:16px;
	border:1px solid #07398a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:22px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #07398a;
}
.btn:hover {
	background-color:#07398a;
}
.btn:active {
	position:relative;
	top:1px;
}
