body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-bold', sans-serif;
}
button{
  font-family: 'Montserrat', sans-serif;
}
p{
  color: #8f8f8f;
}

.big-heading{
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.container-fluid{
  padding: 7% 15%;
}


/* All Sections */
.colored-section{
  background-color: #ff4c68;
  color: white;
}
.white-section{
  background-color: white;
}


/* Title section */

#title{

}

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

/* download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Title image */
.phone-picture{
  width: 60%;
  transform:rotate(20deg);
  position: absolute;
}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }

  .phone-picture{
    position: static;
    transform:rotate(0);
  }

}
/* Features */
#features{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 1;
}


.feature-icon{
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.feature-icon:hover{
  color: red;
}

.feature-title{
  font-size: 1.5rem;
}


/* Testimonial Section */

#testimonials{
  background-color: #ef8172;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Press section */

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
  padding: 100px;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}


#cta{

}

#footer{

}
